
<h1>About SoftUni-Project</h1>
<div class="about">
  <p>
    <i>"SoftUni-Project"</i> is a place, where you can browse some popular products and add
    some new products that
    you have discovered. This application was created as an exercise for the <a
      href="https://softuni.bg/trainings/2452/js-back-end-september-2019">WEB Technologies</a> at the
    <a href="https://softuni.bg/">SoftUni-Kliment Ohridski</a>.</p>
</div>
